@import url(https://fonts.googleapis.com/css?family=Sofia);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
*{
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
}

body {
	font-size: 16px;
	background-color: #e3ebd9;
	font-family: 'Maven Pro', arial, sans-serif;
	color: #38383b;
}
h1 {
	font-family: 'Sofia', cursive; 
	font-weight: 700;
	font-size: 6em;
	text-align: center;
	/*background-color: yellow;*/
}

h2 {
	font-size: 24px; 
	color: #c29577;
	text-align: center;
	/*background-color: blue;*/
}

p {
	line-height: 1.5;
}

a {
	color: #38383b;
	text-decoration: none
}

nav {
	font-size: 20px;
	text-align: center;
	padding: 20px;
}

ul{
	list-style: none;
}

li{
	display: inline-block;
}

footer{
	font-size: 12px;
	padding: 25px;
	margin: 0px;
	background-color: #abc9b6;
	text-align: center;
}
#city{
	float: left;
	/*background-color: purple;*/
	padding: 22px;
	font-size: 20px;
}
#social{
	float: right;
	/*background-color: red;*/
	padding: 10px;
}
#splash{
	background:url(../assets/hero_photo.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:50vh;
}

#introduction{
	margin: auto;
	padding: 3em;
	width: 40em; 
}
#photolinks {
	margin:auto;
	max-width:75em;
}
.photoboxes{
	padding:.5em;
	width: 25%;
	float: left;
}
.photoboxes img {
	width:100%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
