@import url(https://fonts.googleapis.com/css?family=Ramaraja);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700);

*{
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
}

body{
font-size: 16px;
font-family: 'Merriweather Sans', sans-serif;
color: #262223;
text-align: center;
}

h1{
font-size: 3em;
font-family: 'Ramaraja', serif;
/*background-color: yellow;*/
}

h2{
font-size: 2em;
text-transform: uppercase;
/*background-color: red;*/
}

p{
	line-height: 150%;
	margin: auto;
	width: 100%;
	max-width: 460px;
	text-align: justify;
}

nav{
	float: right;
	font-size: 1.5em;
	padding: 40px;
}

a{
	color: #0167AF;
	text-decoration: none;
	margin: 1.5em;
	/*display: inline-block;*/
}

a:hover{
	color: white;
}

li{
	list-style: none;
	/*display: inline-block;*/
}

footer{
	font-size: 14px;
	background-color:white;
	padding: 1.5em;
}

#logo{
	float: left;
	padding: 20px;
	margin: auto;
}

#splash{
	background: url(../assets/electricheader.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vh;
}

#services{
	padding: 1em;
}

#introtitle{
	/*width: 0;*/
	margin: auto;
	padding: 2em;
}

#introtext{
	/*width: 0;*/
	padding: 2em;
	background-color: #0167AF;
}

#work{
	/*width:960px;*/
	margin: auto;
	padding: 10em;
	background-color: #F1F1F1;
}

#Automotive{
	float:left;
	width:280px;
	padding:10px;
	margin:10px;
}

#Banks{
	float:left;
	width:280px;
	padding:10px;
	margin:10px;
}

#Churches{
	float:left;
	width:280px;
	padding:10px;
	margin:10px;
}

/*#photolinks {
	margin: auto;
	max-width: 75em;
}

.photoboxes{
	padding:.5em;
	width: 25%;
	float: left;
}

.photoboxes img {
	width:100%;
	overflow: hidden;
}*/

#whoweare{
	margin: auto;
	padding: 4em;
	background-color: #F1F1F1;
}

#contact{
	margin: auto;
	padding: 2em;
	background-color:#0167AF;
	color: white;
}

.column{
	width: 100%;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}