@import url(https://fonts.googleapis.com/css?family=Ramaraja);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700);

*{
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
}

body{
font-size: 16px;
font-family: 'Merriweather Sans', sans-serif;
color: #505153;
text-align: center;
}

h1{
font-size: 3em;
font-family: 'Ramaraja', serif;
color: #0167AF;
/*background-color: yellow;*/
}

h2{
font-size: 2em;
text-transform: uppercase;
/*background-color: red;*/
}

h3{
	color: #0167AF;
	padding: 1.5em;
}

h4{
	color: #505153;
	padding: 1.5em;
}

p{
	line-height: 150%;
	margin: auto;
	width: 100%;
	max-width: 460px;
	text-align: justify;
}

nav{
	float: right;
	font-size: 1.5em;
	padding: 3%;
}

a{
	color: #0167AF;
	text-decoration: none;
	margin: 1.5em;
	/*display: inline-block;*/
}

a:hover{
	color: white;
}

li{
	list-style: none;
	/*display: inline-block;*/
}

footer{
	font-size:.8em;
	background-color: #505153;
	padding: 1em;
	width: 100%;
	color: white;
}

#logo{
	float: left;
	padding: 20px;
	margin: auto;
}

#splash{
	background: url(../assets/electricheader.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vh;
}

#introtitle{
	margin: auto;
	padding: 3em;
}

#introtext{
	padding: 4em;
	background-color: #505153;
	color: white;
}

#work{
	margin: auto;
	padding: 2em;
	background-color: #F1F1F1;
}

/*#photolinks {
	margin: auto;
	max-width: 75em;
}

.photoboxes{
	padding:.5em;
	width: 25%;
	float: left;
}

.photoboxes img {
	width:100%;
	overflow: hidden;
}*/

/*#whoweare{
	margin: auto;
	padding: 4em;
	background-color: #F1F1F1;
}*/

#contact{
	margin: auto;
	padding: 2em;
	background-color:#0167AF;
	color: white;
}

.column{
	width: 100%;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media only screen and (max-width: 1024px){
}


@media only screen and (max-width: 768px){
	header{
		top:0%;
	}
	h1, h2, h3, h4 {
		line-height: .5em;
		text-align: center;
	}


@media only screen and (max-width: 640px){
	h1, h3, h4{
		line-height: 1.5em;
		text-align: center;
	}
}

@media only screen and (max-width: 320px){
	h1, h3, h4{
		line-height: 1.5em;
		text-align: center;
	}

	#introtitle {
		display:none;
	}
}
