/*
color palette

Example, Class:
.bestclass {
text-align: left;
color: green;
}

Example, ID:
#bestID {
text-align: right;
color: grey;
}
*/

body {
/*font-family: arial;*/
font-size: 16px;
}

h1 {
	font-family: georgia;
	font-size: 64px;
	color: #143aff
}

h2 {
	font-family: georgia;
	font-size: 48px; 
}

h3 {
	font-size: 32px;
}

h4 {
	font-family: arial;
	font-size: 16px;
	font-style: bold;
}

nav{
	font-family: arial;
	width: 500px;
	padding: 16px;
}

p {
	font-family: arial;
}

div {
	font-family: arial;
	background-color: #e2e3e5;
	width: 200px;
	height: 300px;
	margin: 20px;
}

footer{
	padding: 80px;
}

/* why isn't styling for these div ids showing up? */
#services{
	background-color: navy;
}

#contact{
	background-color: blue;
}